.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-size: 0.75em
    }
.calibre2 {
    font-size: 1em
    }
.calibre3 {
    font-style: italic
    }
.calibre4 {
    display: block
    }
.chapter {
    display: block;
    margin: 1em 0
    }
