@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.epub-type-z3998-signature{
	font-variant: small-caps;
}

.epub-type-z3998-letter{
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
}

.epub-type-z3998-scene + p,
.epub-type-z3998-salutation + p{
	text-indent: 0;
}

section.epub-type-chapter{
	break-after: page;	
	page-break-after: always;
}

.epub-type-z3998-song p,
.epub-type-z3998-verse p{
	text-align: left;
	text-indent: 0;
}

.epub-type-z3998-song p > span,
.epub-type-z3998-verse p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

.epub-type-z3998-song p > span + br,
.epub-type-z3998-verse p > span + br{
	display: none;
}

cite{
	display: block;
	margin-top: 1em;
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
	text-align: right;
}

.epub-type-z3998-drama table,
table.epub-type-z3998-drama{
	border-collapse: collapse;
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 100%;
}

.epub-type-z3998-drama tr.first-child td,
.epub-type-z3998-drama tr:first-child td{
	padding-top: 0;
}

.epub-type-z3998-drama tr.last-child td,
.epub-type-z3998-drama tr:last-child td{
	padding-bottom: 0;
}

.epub-type-z3998-drama td{
	padding: .5em;
	vertical-align: top;
}

.epub-type-z3998-drama td.last-child,
.epub-type-z3998-drama td:last-child{
	padding-right: 0;
}

.epub-type-z3998-drama td.first-child,
.epub-type-z3998-drama td:first-child{
	padding-left: 0;
}

.epub-type-z3998-drama td.epub-type-z3998-persona{
	hyphens: none;
	adobe-text-layout: optimizeSpeed; /* For Nook */
	adobe-hyphenate: none;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

table.epub-type-z3998-drama,
.epub-type-z3998-drama table{
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 100%;
}

.epub-type-z3998-stage-direction{
	font-style: italic;
}

i .epub-type-z3998-persona{
	font-style: normal;
}

.epub-type-z3998-stage-direction::before{
	content: "(";
	font-style: normal;
}

.epub-type-z3998-stage-direction::after{
	content: ")";
	font-style: normal;
}

.epub-type-z3998-persona{
	font-variant: small-caps;
	text-transform: lowercase;
}

.epub-type-z3998-scene{
	margin-top: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
}

.epub-type-z3998-scene > p{
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	text-align: center;
	width: 75%;
}

.epub-type-z3998-scene header{
	font-variant: small-caps;
	text-align: center;
}

.note p.first-child + p,
.note p:first-child + p{
	text-indent: 0;
}

section.epub-type-footnotes > ol > li{
	margin-top: 1em;
	margin-right: 0;
	margin-bottom: 1em;
	margin-left: 0;
}

footer{
	margin-top: 1em;
	text-align: right;
}