/**/
body {
    font-family: Times, serif;
    margin-left: 10%;
    margin-right: 10%
    }
h1, h2, h3, h4, h5, h6 {
    text-align: center
    }
.verse {
    margin-left: 10%;
    margin-right: 10%
    }
.intro {
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%
    }
.rsidenote {
    font-size: 0.7em;
    font-style: italic
    }
.lsidenote {
    font-size: 0.8em
    }
.foots {
    font-size: 0.8em;
    margin-left: 10%;
    margin-right: 10%
    }
/**/