/**/
i.c6 {
    font-weight: bold
    }
td.c5 {
    width: 2em
    }
td.c4 {
    font-style: italic
    }
span.c3 {
    text-decoration: underline
    }
span.c2 {
    text-decoration: line-through
    }
span.c1 {
    font-style: italic
    }
/**/