@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.epub-type-se-era{
	font-variant: small-caps;
	text-transform: lowercase;
}

table{
	font-variant-numeric: tabular-nums;
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
}

td.first-child,
td:first-child{
	padding-right: 1em;
}

td.last-child,
td:last-child{
	text-align: right;
}

tbody tr.last-child td,
tbody tr:last-child td{
	padding-bottom: 0.5em;
}

tfoot td{
	padding: 0.5em 0;
}

tfoot td.first-child,
tfoot td:first-child{
	text-align: center;
}

tfoot td.last-child,
tfoot td:last-child{
	border-top: 1px solid;
}